@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';

.success {
  padding-top: 140px;
  padding-bottom: 100px;

  @include padding_section;

  &__img {
    max-width: 328px;
    margin: 0 auto;

    aspect-ratio: 328 / 290;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
