@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';

.element {
  display: block;
  width: 100%;
  max-width: 200px;

  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;

  &--modCenter {
    text-align: center;
  }

  &__tooltip {
    position: fixed;

    padding: 3px 16px;

    color: $color-white;

    background-color: $color-black-87;
    border-radius: 4px;
  }
}
